*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 1200px;
}
h1{
    align-items: center;
    margin: 0 auto;
    color: white;
    background-color: #808080;
    
    
}